.slide-down {
    transition: all 0.5s ease-in-out;
}

.btn, .nav-link{
    transition: all 0.3s ease-in;
    color: #e01a1a !important;
    
}
.btn-nb{
    background-color: white !important;
    border: none !important;
}
.nav-link:hover{
    transform: scale(1.1);
}

.btn:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.273);
}

.navbar-toggler{
    outline: none;
    border: none;

}
.logo{
    max-width: 80px;
}