*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.bg-dark {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.bg-primary, .btn-primary{
  background-color: #e01a1a !important;
}

.bg-secondary{
  background-color: #1b1b1b !important;
}

.btn-rg{
    color: black !important;
    border: none !important;
}

